@import "../../static/fonsts/index.css";

:root {
  --color: red;
  font-family: "Caveat", system-ui;
}
.title {
  color: var(--color);

  @media (--size-s) {
    font-size: 48px;
  }
}
.button {
  font-size: var(--font-size);
  color: var(--color);
  background-color: var(--color-pink);
  background-image: url("./churros.svg");
}
:--heading {
  color: blue;
}
.testcolor {
  color: var(--mycolor);
}
